run = "npm run dev"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 3002
externalPort = 3002

[deployment]
run = ["sh", "-c", "npm run dev"]
